In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('income.csv')
dataset.head()

,income,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week
0,0,39,State-gov,Bachelors,NotMarried,Adm-clerical,Not-in-family,White,Male,40
1,0,50,Self-emp-not-inc,Bachelors,Married,Exec-managerial,Husband,White,Male,13
2,0,38,Private,HS-grad,Separated,Handlers-cleaners,Not-in-family,White,Male,40
3,0,53,Private,11th,Married,Handlers-cleaners,Husband,Black,Male,40
4,0,28,Private,Bachelors,Married,Prof-specialty,Wife,Black,Female,40

(a) Describing dataset before preprocessing

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26215 entries, 0 to 26214
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   income          26215 non-null  int64
 1   age             26215 non-null  int64
 2   workclass       24819 non-null  object
 3   education       26215 non-null  object
 4   marital-status  26215 non-null  object
 5   occupation      24814 non-null  object
 6   relationship    26215 non-null  object
 7   race            26215 non-null  object
 8   sex             26215 non-null  object
 9   hours-per-week  26215 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.0+ MB

(b) Handling missing values & categorical values

In [6]:
dataset = dataset.dropna()

In [12]:
print("workclass: ",dataset['workclass'].unique())
print("education: ",dataset['education'].unique())
print("marital-status: ",dataset['marital-status'].unique())
print("occupation: ",dataset['occupation'].unique())
print("relationship: ",dataset['relationship'].unique())
print("race: ",dataset['race'].unique())
print("sex: ",dataset['sex'].unique())

workclass:  ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay']
education:  ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '12th' '10th' '5th-6th'
 '1st-4th' 'Preschool']
marital-status:  ['NotMarried' 'Married' 'Separated' 'Widowed']
occupation:  ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' 'Protective-serv'
 'Priv-house-serv' 'Armed-Forces']
relationship:  ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
race:  ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
sex:  ['Male' 'Female']

In [ ]:
dataset['sex'] = dataset['sex'].replace({
    'Male': 0, 
    'Female': 1
    })
dataset['race'] = dataset['race'].replace({
    'White': 0,
    'Black': 1,
    'Asian-Pac-Islander': 2,
    'Amer-Indian-Eskimo': 3,
    'Other': 4
    })
dataset['relationship'] = dataset['relationship'].replace({
    'Not-in-family': 0,
    'Husband': 1,
    'Wife': 2,
    'Own-child': 3,
    'Unmarried': 3,
    'Other-relative': 4
    })
dataset['occupation'] = dataset['occupation'].replace({
    'Adm-clerical': 0,
    'Exec-managerial': 1,
    'Handlers-cleaners': 2,
    'Prof-specialty': 3,
    'Other-service': 4,
    'Sales': 5,
    'Craft-repair': 6,
    'Transport-moving': 7,
    'Farming-fishing': 8,
    'Machine-op-inspct': 9,
    'Tech-support': 10,
    'Protective-serv': 11,
    'Priv-house-serv': 12,
    'Armed-Forces': 13
    })
dataset['marital-status'] = dataset['marital-status'].replace({
    'NotMarried': 0,
    'Married': 1,
    'Separated': 2,
    'Widowed': 3
})
dataset['education'] = dataset['education'].replace({
    'Bachelors': 0,
    'HS-grad': 1,
    '11th': 2,
    'Masters': 3,
    '9th': 4,
    'Some-college': 5,
    'Assoc-acdm': 6,
    'Assoc-voc': 7,
    '7th-8th': 8,
    'Doctorate': 9,
    'Prof-school': 10,
    '12th': 11,
    '10th': 12,
    '5th-6th': 13,
    '1st-4th': 14,
    'Preschool': 15
})